<mat-card>
  <div class="headerButtons">
    <span class="spacer" *ngIf="backLink == ''"></span>
    <button matTooltip="back to lists" *ngIf="backLink != '' && backLink != undefined" mat-button routerLink="{{backLink}}" class="card-backButton">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
    </button>
    <button matTooltip="add new task list" *ngIf="addLink == 'taskList'" (click)="openNewTaskListDialog()" mat-button class="card-addButton">
      <mat-icon>add</mat-icon>
    </button>
    <button matTooltip="add new task" *ngIf="addLink == 'task'" (click)="openNewTaskDialog()" mat-button class="card-addButton">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card-title class="card-head card-head-w-back">
    <span class="card-title">{{title}}</span>
  </mat-card-title>
  <mat-card-subtitle>
    <span class="card-subtitle">{{subtitle}}</span>
  </mat-card-subtitle>
  <mat-card-content>
    <span class="card-content">{{content}}</span>
  </mat-card-content>
</mat-card>
