<mat-card>
  <mat-card-title class="card-head">
    <span class="card-title">{{title}}</span>
    <button mat-icon-button class="" *ngIf="id != ''" [matMenuTriggerFor]="menu" matTooltip="more options" aria-label="more options">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  <mat-card-content>{{content}}</mat-card-content>
  <mat-card-actions *ngIf="link != ''" class="task-action-button">
    <button  mat-mini-fab color="primary" routerLink="{{link}}" matTooltip="go to {{title}} task list" aria-label="go to {{title}} task list">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-menu #menu="matMenu">
<!--  <button mat-menu-item matTooltip="edit task list details" class="ico-w-text">-->
<!--    <mat-icon class="icon-ico">-->
<!--      create-->
<!--    </mat-icon>-->
<!--    <span class="text-ico">-->
<!--      edit-->
<!--    </span>-->
<!--  </button>-->
  <button mat-menu-item matTooltip="delete this task list" class="ico-w-text" (click)="deleteTaskList(id)">
    <mat-icon class="icon-ico">
      delete
    </mat-icon>
    <span class="text-ico">
      delete
    </span>
  </button>
</mat-menu>
