<mat-card>
  <mat-card-title class="card-head">
    <span class="card-title">{{title}}</span>
    <small>{{date}}</small>
    <button *ngIf="id" mat-icon-button class="" [matMenuTriggerFor]="menu" matTooltip="more options" aria-label="some button">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  <mat-card-content>{{content}}</mat-card-content>
  <mat-card-actions class="task-action-button" *ngIf="id">
    <button *ngIf="!done" mat-mini-fab color="primary" matTooltip="mark done" (click)="markDone(id)"  aria-label="Example icon button with a filter list icon">
      <mat-icon>done</mat-icon>
    </button>
    <button *ngIf="done" mat-mini-fab color="warn" matTooltip="mark not done" (click)="markDone(id)"  aria-label="Example icon button with a filter list icon">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-menu #menu="matMenu">
<!--  <button mat-menu-item matTooltip="edit this task" class="ico-w-text">-->
<!--    <span class="material-icons icon-ico">-->
<!--      create-->
<!--    </span>-->
<!--    <span class="text-ico">-->
<!--      edit-->
<!--    </span>-->
<!--  </button>-->
<!--  <button mat-menu-item matTooltip="move this task to a different list" class="ico-w-text" (click)="openMoveTaskDialog($event)">-->
<!--    <span class="material-icons icon-ico">-->
<!--      launch-->
<!--    </span>-->
<!--    <span class="text-ico">-->
<!--      move-->
<!--    </span>-->
<!--  </button>-->
  <button mat-menu-item matTooltip="delete this task" (click)="deleteTask(id)" class="ico-w-text">
    <span class="material-icons icon-ico">
      delete
    </span>
    <span class="text-ico">
      delete
    </span>
  </button>
</mat-menu>
