.task-action-button {display: flex; flex-direction: row; justify-content: flex-end;}
.card-head { display: flex; flex-direction: row; justify-content: space-between;}
.card-head span.card-title {display: flex; align-items: center;}
.card-head {
  small {font-size: 16px; font-weight: 300;}
}
