:host {display: flex; position: fixed; bottom: 0; width:100%;}
.search-form {flex: 4;}
.search-box {width: 100%;}
.search-form, .search-box{text-align: center;}

span.spacer {flex: 1;}

.shorten-text {
  max-width: 164px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
