<mat-grid-list [cols]="resp_grid_width" rowHeight="2:2" gutterSize="1rem" (window:resize)="onResize($event)">

  <mat-grid-tile class="dashboard">
    <mat-grid-tile-header>
      <h5 class="dashboard-title">Tasks Complete</h5>
    </mat-grid-tile-header>
    <strong class="dashboard-value">{{tasksComplete}}</strong>
  </mat-grid-tile>

  <mat-grid-tile class="dashboard">
    <mat-grid-tile-header>
      <h5 class="dashboard-title">Tasks Incomplete</h5>
    </mat-grid-tile-header>
    <strong class="dashboard-value">{{tasksIncomplete}}</strong>
  </mat-grid-tile>

  <mat-grid-tile class="dashboard">
    <mat-grid-tile-header>
      <h5 class="dashboard-title"># of Tasks</h5>
    </mat-grid-tile-header>
    <strong class="dashboard-value">{{tasksCount}}</strong>
  </mat-grid-tile>

  <mat-grid-tile class="dashboard">
    <mat-grid-tile-header>
      <h5 class="dashboard-title"># of Tasklists</h5>
    </mat-grid-tile-header>
    <strong class="dashboard-value">{{taskListsCount}}</strong>
  </mat-grid-tile>

  <mat-grid-tile class="dashboard">
    <mat-grid-tile-header>
      <h5 class="dashboard-title">Recent Task Lists</h5>
    </mat-grid-tile-header>
    <mat-list>
      <mat-list-item *ngFor="let recent of recentTaskLists">
        <a mat-button class="ico-w-text" routerLink="/task-list/{{recent.id}}">
          <span class="text-ico shorten-text" [matTooltip]="recent.title">{{recent.title}}</span>
          <mat-icon class="icon-ico">keyboard_arrow_right</mat-icon>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile class="dashboard" [rowspan]="resp_row_2">
    <mat-grid-tile-header>
      <h5 class="dashboard-title">Upcoming Tasks</h5>
    </mat-grid-tile-header>
    <mat-list>
      <mat-list-item *ngFor="let upcoming of upcomingTasks">
        <a mat-button class="ico-w-text" routerLink="/task-list/{{upcoming.tasklist}}" fragment="{{upcoming.id}}">
          <span class="text-ico shorten-text" [matTooltip]="upcoming.title">{{upcoming.title}}</span>
          <mat-icon class="icon-ico">keyboard_arrow_right</mat-icon>
        </a>
        <small>{{upcoming.date}}</small>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="false" class="dashboard" [colspan]="resp_col_2">
    <p>stuff</p>
  </mat-grid-tile>

</mat-grid-list>
