<div class="panel">
  <app-header-block
    [blockTitle]="headerBlock.blockTitle"
    [blockSubtitle]="headerBlock.blockSubtitle"
    [blockContent]="headerBlock.blockContent"
    class="block"
  ></app-header-block>
  <div class="block">
    <mat-card>
      <mat-card-header>
        <h2>primary settings</h2>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="block">
    <mat-card>
      <mat-card-header>
        <h2>secondary settings</h2>
      </mat-card-header>
    </mat-card>
  </div>
</div>
