<div mat-dialog-content class="dialog">
  <h2>create a new task</h2>
  <mat-chip-list *ngIf="(title.invalid || description.invalid || date.invalid) && (title.dirty || title.touched || description.dirty || description.touched || date.dirty || date.touched)">
    <mat-chip color="warn" selected disabled *ngIf="title.errors?.required && title.touched">
      title is required.
    </mat-chip>
    <mat-chip color="warn" selected disabled *ngIf="title.errors?.minlength && title.touched">
      title must be at least 4 characters long.
    </mat-chip>
    <mat-chip color="warn" selected disabled *ngIf="description.errors?.required && description.touched">
      description is required.
    </mat-chip>
    <mat-chip color="warn" selected disabled *ngIf="description.errors?.minlength && description.touched">
      description must be at least 4 characters long.
    </mat-chip>
    <mat-chip color="warn" selected disabled *ngIf="date.errors?.required && date.touched">
      date is required.
    </mat-chip>
  </mat-chip-list>
  <mat-form-field>
    <mat-label>title</mat-label>
    <input matInput [(ngModel)]="data.title" required minlength="4" #title="ngModel">
  </mat-form-field>
  <mat-form-field>
    <mat-label>subtitle</mat-label>
    <input matInput [(ngModel)]="data.subtitle">
  </mat-form-field>
  <mat-form-field>
    <mat-label>description</mat-label>
    <input matInput [(ngModel)]="data.content"  required minlength="4" #description="ngModel">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>due date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.date"  required #date="ngModel">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialogButtons">
  <button mat-button color="warn" (click)="onNoClick()" cdkFocusInitial>cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="data">create</button>
</div>
